middleware
store/README.md
static/README.md
dist


components/blog
components/instagram

pages/blog
pages/cart/cart-2.vue
pages/cart/cart-3.vue
pages/cart/cart-4.vue
pages/contact-us
pages/my-account
pages/about-us.vue
pages/coming-soon.vue
pages/electronics.vue
pages/faq.vue
pages/furniture
pages/grocery.vue
pages/login.vue
pages/lookbook.vue
pages/pharmacy.vue
pages/privacy-policy.vue
pages/register.vue
pages/shop/shop-2.vue
pages/shop/shop-3.vue
pages/shop/shop-5.vue

.nuxt

node_modules/*


